.tooltip {
    background-color: white;
    border-radius: 6px;
    height: 150px;
    width: 228px;
    padding: 12px 16px;
    font-size: 12px;
    color: #52515B;
    display: flex;
    flex-direction: column;
    gap: 12px;
    box-shadow: #00000036 0 0 15px 0;

    * {
        background-color: white;
        color: black;
    }

    &__date {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #E1DFE7;
        font-size: 12px;
        gap: 8px;
        padding-bottom: 12px;
        padding-left: 30px;
        position: relative;

        svg {
            position: absolute;
            left: 0;
            top: 0;
        }

    }

    &__variation-list {
        list-style-type: none;
        width: 100%;
        overflow-y: scroll;
        padding-right: 4px;

        &::-webkit-scrollbar {
            width: 4px;
        }

        &::-webkit-scrollbar-track {
            background: #f1f1f1;
            border-radius: 4px;
        }

        &::-webkit-scrollbar-thumb {
            background: #c1c1c1;
            border-radius: 4px;
        }

        &r::-webkit-scrollbar-thumb:hover {
            background: #a8a8a8;
        }



    }

    &__variation {
        position: relative;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding-left: 20px;
        font-size: 12px;
        color: #1B1B23;
        height: 26px;
        border: 1px dashed #F1F0F5;

        .circle {
            position: absolute;
            left: 0;
        }

        .cup {
            margin-right: auto;
            margin-left: 10px;
        }
    }

    &__variation-value {
        color: #52515B;
        font-weight: 500;
    }
}