.options {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
    margin-bottom: 10px;

    .select-header {
        height: 28px;
        font-size: 12px;
        border: 1px solid #C7C5D0;
        border-radius: 4px;
        font-size: 12px;
        padding: 5px 8px;
        padding-right: 30px;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .select-list {
        position: absolute;
        width: 100%;
        border-radius: 0 0 6px 6px;
        box-shadow: #00000039 0 0 15px 0;
        overflow: hidden;
        transition: all ease-in-out 0.2s;
        max-height: 300px;

        &.closed {
            max-height: 0;
            transition: all ease-in-out 0.2s;
        }

    }

    .select-option {
        height: 28px;
        font-size: 12px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 10px;
        gap: 10px;
        background-color: white;


        input,
        label {
            cursor: pointer;
        }

        label {
            width: 100%;
            color: inherit;
        }

        &:hover {
            background-color: #e8e8e8;

            label {
                background-color: #e8e8e8;
            }
        }

    }


    &__variation {
        width: 160px;
        position: relative;
        z-index: 10;
        cursor: pointer;
        user-select: none;

    }

    &__day {
        width: 65px;
        position: relative;
        z-index: 10;
        cursor: pointer;
        user-select: none;
        margin-right: auto;
    }

    &__line-style {
        width: 135px;
        position: relative;
        z-index: 10;
        cursor: pointer;
        user-select: none;

        .select-list {
            width: 117px;
        }
    }

    &__zoom {
        display: flex;
        flex-direction: row;

        .zoom-minus,
        .zoom-plus {
            padding: 0;
            width: 27px;
            height: 27px;
            border: 1px solid #E1DFE7;
            background-color: white;
        }

        .zoom-minus {
            border-radius: 4px 0 0 4px;
        }

        .zoom-plus {
            border-radius: 0 4px 4px 0;
        }
    }

    &__theme {
        height: 28px;
        border-radius: 4px;
        font-size: 12px;
        border: 1px solid #C7C5D0;
        padding: 4px 10px;
        cursor: pointer;
        user-select: none;
        text-align: center;
    }

}

.arrow {
    position: absolute;
    right: 8px;
    top: 10px;
    transition: all 0.2s ease-in-out;

    &.reversed {
        transform: rotateZ(180deg);
        transition: all 0.2s ease-in-out;
    }
}